/* Global Styles */
body {
  font-family: sans-serif;
  background-color: #5f4747;
  margin: 0;
  color: white;
}

h1, h2 {
  text-align: center;
  margin: 20px 0;
}

/* Top Section */
.background-image-container {
  position: relative;
  overflow: hidden;
}

.background-image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #D50441;
  width: 80%;
  text-align: center;
  box-sizing: border-box;
}

/* Categories Section */
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 100px;
  padding: 60px;
}

.wine-category {
    display: flex; 
    flex-direction: column;
    text-align: center;
}

.wine-category img {
    height: 200px;
    width: 90%;
    object-fit: cover;
    border-radius: 15px; 
}

/* Product Carousel Section */
.product {
  position: relative;
  padding: 20px 0;
}

.product-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 40px;
  padding: 0 10vw;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
}

.product-image {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card:hover {
  opacity: 1;
}

.product-name {
  text-align: center;
  margin: 5px 0;
}

/* Carousel Navigation Buttons */
.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  background: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

footer {
    background-color: #343a40;
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    width: 100%; 
}

@media screen and (max-width: 600px) 
{
  .background-image-container {
    height: 400px;
  }

  .background-image {
    height: 100%;
  }
  .text-box {
    width: 90%;
    padding: 10px;
  }

  .text-box h2 {
    font-size: 1.25rem;
  }

  #see-more-button {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
    }